
<div>
    <input type="text" ng-model="query" class="form-control meth-filter" placeholder="Search methods">

    <div ng-if="!query" class="analysis-methods">
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{group.name}}" ng-repeat="group in narrative.methods">
                <ul class="method-list">
                    <li ng-repeat="method in group.methods">
                        <a ng-click="narrative.addCell(method.title)">{{method.title}}</a>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>

    <!-- method search --> 
    <div ng-hide="!query">
        <ul class="method-list">
            <div ng-repeat="group in narrative.methods" 
                 ng-show="(group.methods | filter: query).length > 0">
                <b>{{group.name}}</b>
                <ul class="method-list">
                    <li ng-repeat="method in group.methods | filter:query">
                        <a ng-click="narrative.addCell(method.title)">{{method.title}}</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>
