
<style type="text/css">
  .profile-info h3 {
    font-size: 130%;
    margin: 10px 0 5px 0;
    text-decoration: underline;
  }
  .profile-info ul {
    padding: 0;
  }
  .profile-info ul li {
    margin: 0;
  }
  .profile-info .personal-statement {
    margin: 20px 0 0 0;
    line-height: 1.5;
  }
</style>
<div class="profile-info">
  <div class="row">
    <div class="col-md-9">
      <h2>{% if userRecord.profile.userdata.title %}{{userRecord.profile.userdata.title | titleLabel }} {% endif %}{{userRecord.user.realname | e}}{% if userRecord.profile.userdata.suffix %}, {{userRecord.profile.userdata.suffix | e}}{% endif %}</h2>
      {% if env.isOwner and userRecord.user.realname != userRecord.profile.account.fullName %}<p class="text-warning">Note: The name on your account is <i>{{ userRecord.profile.account.fullName }}</i>.</p>{% endif %}
    </div>
    <div class="col-md-3">

      {% if env.isOwner %}
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-warning" data-button="optout">Opt Out</button>
         <button type="button" class="btn btn-primary" data-button="edit">Edit Profile</button>
      </div>
      
      {% endif %}
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12">
      {% if userRecord.profile.userdata.location %}<i>{{userRecord.profile.userdata.location | e}}</i>{% endif %}
        {% if userRecord.profile.userdata.email %}
          <p><a href="mailto:{{userRecord.profile.userdata.email | e}}">{{userRecord.profile.userdata.email | e}}</a></p>
        {% if env.isOwner and userRecord.profile.userdata.email != userRecord.profile.account.email %}
          <p class="text-warning">Note: The email on your account is <i>{{ userRecord.profile.account.email }}</i>.</p>
        {% endif %}
      {% endif %}       
    </div>
  </div>

  {% macro alert(text, type='info') %}
    <div class="alert alert-{{type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ text }}
      </div>
  {% endmacro %}

  <div class="row">
    <div class="col-md-12">       
      {% if env.isOwner %}
        {% if env.profileCompletion.status == "none" %}

          {{ alert('** Should not see this**', type="error") }}

        {% elif env.profileCompletion.status == "denied" %}

          {{ alert('** Should not see this**', type="error") }}

        {% elif env.profileCompletion.status == "stub" %}

          {{ alert('You do not have a profile', type="error") }}

        {% elif env.profileCompletion.status == "requiredincomplete" %}

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Youre profile is active, but you have not completed the required minimal fields. The following required fields are missing: 
            {% set comma = joiner() %}
            {% for missing in env.profileCompletion.missingFields %}{{ comma() }}{{ missing.title }}{% endfor %}
          </div>      

        {% elif env.profileCompletion.status == "incomplete" %}

          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Your profile is active, but is only {{env.profileCompletion.percentComplete}}% complete. The achive profile fulfillment, complete the following fields:
            {% set comma = joiner() %}
            {% for missing in env.profileCompletion.missingFields %}{{ comma() }}{{ missing.title }}{% endfor %}
          </div>

        {% elif env.profileCompletion.status == "complete" %}

          {{ alert("Congratulations, your profile is complete!", type="success") }}

        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>User Class</h3>
      {% if userRecord.profile.userdata.user_class %}
        <ul><li>{{ userRecord.profile.userdata.user_class | userClassLabel}}</li></ul>
      {% elif env.isOwner %}
        <p class="text-warning">It is very useful to know what type of KBase user you are.</p>
      {% else %}
        <p>No user class assigned</p>  
      {% endif %}

      <h3>Roles</h3>
      {% if userRecord.profile.userdata.roles|length > 0 %}
        <ul>
          {% for role in userRecord.profile.userdata.roles %}
            <li>{{role | roleLabel }}</li>
          {% endfor %}
        </ul>
      {% elif env.isOwner %}
        <p class="text-warning">It is very useful to know what type of roles you are fulfilling with your KBase account.</p>
      {% else %}
        <p>No roles assigned</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h3>Affiliations</h3>  
      {% if userRecord.profile.userdata.affiliations|length > 0 %}  
        {% for affiliation in userRecord.profile.userdata.affiliations|sort(true, true, "start_year") %}
          <p><strong>{{affiliation.title | e}}</strong> ({{affiliation.start_year| e}}-{% if affiliation.end_year %}{{affiliation.userdata.end_year | e}}{% else %}present{% endif %}) @ {{affiliation.institution | e}}</p>
        {% endfor %}
      {% elif env.isOwner %}
        <p class="text-warning">Show your colors! Please add one or more affiliations.</p>
      {% else %}
        <p>No affiliations recorded for this user</p>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="well personal-statement">    
        {% if userRecord.profile.userdata.personal_statement %}
          {{userRecord.profile.userdata.personal_statement | e | kbmarkup}}
        {% else %}
          {%if env.isOwner %}
            You don't have a personal statement. Don't you want to let the the KBase community know a little about you?
          {% else %}
            <i>This user does not have a personal statement</i>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
