<div class="dropdown" style="display: inline-block;">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<img src="assets/images/nouserpic.png" style="width: 40px;" class="login-button-avatar" data-element="avatar"></img>
		<span class="caret" style="margin-left: 5px;"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/functional-site/#/people/{{username}}" data-menu-item="userlabel" data-element="user-label">{{realname}}<br><i>{{username}}</i></a></li>
		<li class="divider"></li>
		<li><a href="#" data-menu-item="logout"><span class="fa fa-sign-out" style="font-size: 150%; color:green; margin-right: 10px;"></span> Sign Out</a></ll>
	</ul>
</div>