<div class="dropdown" style="display: inline-block;">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Sign In
		<span class="caret" style="margin-left: 5px;"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" data-menu-item="signin"><div style="display:inline-block; width: 34px;"><span class="fa fa-sign-in" style="font-size: 150%; "></span></div>Sign in to KBase</a></li>
		<li class="divider"></li>
		<li><a href="http://staging.kbase.us/new-to-kbase" data-menu-item="signup"><div style="display:inline-block; width: 34px;"><span class="fa fa-pencil" style="font-size: 150%; "></span></div> Signup</a></ll>

		<li><a href="#" data-menu-item="logout"><div style="display:inline-block; width: 34px;"><span class="fa fa-question" style="font-size: 150%; margin-right: 10px;"></span></div> Lost Password?</a></ll>
	</ul>
</div>