<ul id="sortable-landing">
   
    <li>
        <div class="row">
            <div class="col-md-10"><div socialuserprofile></div></div>
            <div class="col-md-2">
                <div socialusersummary></div>
                <div socialusersearch></div>
            </div> 
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-4"><div socialbrowsenarratives></div></div>
            <div class="col-md-8"><div socialusercollaborators></div></div>
        </div>
    </li>
   
   
</ul>
