<ul id="sortable-landing">
    <li>
        <div class="row">
            <div class="col-md-10"><div socialuseroverview></div></div>
            <div class="col-md-2"><div socialuserquickstats></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-3"><div socialuserhistory></div></div>
            <div class="col-md-6"><div socialusercollaborators></div></div>
            <div class="col-md-3"><div socialuserprojects></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-4"><div socialuserpopularnarratives></div></div>
            <div class="col-md-4"><div socialusertopapps></div></div>
            <div class="col-md-4"><div socialuserresourceusage></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-4"><div socialuserpublications></div></div>
            <div class="col-md-4"><div socialuserfollowing></div></div>
            <div class="col-md-4"><div socialuserfollowers></div></div>
        </div>
    </li>
</ul>
