<div class="col-md-2 col-lg-2 search-result-column">{{item.qseqid}}</div>
<div class="col-md-2 col-lg-2 search-result-column">{{item.sseqid}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.pident}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.length | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.qstart | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.qend | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.sstart | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right">{{item.send | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center">{{item.evalue}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center">{{item.bitscore}}</div>