
<div class="row">
    <div class="col-sm-3 col-md-3 sidebar">
        <div class="pull-right" show-hide-sidebar></div>
        <div class="btn-toolbar ws-toolbar">
            <!--<a class="btn-analysis pull-left" ui-sref="ws.id({ws:ws})">ws</a>-->

            <ul class="nav nav-tabs" >
              <li ng-class="{ active: tacb == 'data' }">
                <a ui-sref="analysis({ws:ws, tab:'data'})">Data</a>
              </li>
              <li ng-class="{ active: tab == 'methods' }" >
                <a ui-sref="analysis({ws:ws, tab:'methods'})">Methods</a>
              </li>
            </ul>

            <div ng-if="tab == 'data'"  analysis-data></div>
            <div ng-if="tab == 'methods'" analysis-methods></div>

        </div>


    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" >

        <div class="analysis-view" ui-view>

            <div class="well">
                <h1>Analysis <small>v. Alpha</small></h1> 
                <h4 class="text-muted">Workspace-inspired, rough prototype of how modeling could be done.</h4>
            </div>

            <h5>Version Alpha:</h5>
            <ul>
                <li>Just getting started</li>
            </ul>

        </div>
    </div>
</div>


