<div class="row">
    <div class="col-md-12">
        <h2>KBase Narrative Apps</h2>
        <div copyfeatured>
            <h3>New KBase Apps Are Coming Soon!</h3>
            <p>KBase is currently undergoing a major update. We are developing a set of Narrative "apps" that will make it easy to upload and analyze your data with KBase's powerful analysis tools. These apps will be ready-to-use short Narratives that perform a series of useful steps (for example, assemble and annotate a genome). They can be used individually or connected together to form more complex Narratives.
            </p>

            <p>In the meantime, you can explore public Narratives and Narratives that have been shared with you via the tabs to the left. (Tip: Sign in to view the “My Narratives" and "Shared With Me" tabs.) Note that some of them are not working at the moment due to changes in the underlying software.
            </p>
            
            <p>You can also build your own Narrative! The Narrative Quick Start guide, which describes how to create and run narratives, can be found <a target="_blank" href="http://kbase.us/get-started/narrative-quick-start">here</a>.
            </p>
        </div> <!-- end featured narratives -->
    </div>
</div>