
<div class="row">

    <div class="col-md-3" id="ws-sidebar">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: $state.includes('narratives')}">
                <a ui-sref="narratives()" >Narratives</a>
            </li>
            <li ng-class="{ active: $state.includes('ws')}">
                <a ui-sref="ws">Workspaces</a>
            </li>
        </ul>
        <div class="narrative-sidebar-section">
                <h3 class="sidebar-header">RECENT NARRATIVES</h3>
                <div recentnarratives>
                    <ul class="recent-narratives" ng-repeat="nar in narratives | orderBy:'timestamp':true | limitTo:5">
                        <li><a href="{{nar_url}}/ws.{{nar.wsid}}.obj.{{nar.id}}">{{nar.name}}</a> 
                            <span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
                <a class="pull-right" href="#/narrative/projects/">View all</a>
                <br>
                <hr>
                <h3 class="sidebar-header">RECENT PROJECTS</h3>
                <div recentprojects>
                    <ul class="recent-projects" ng-repeat="nar in projects | orderBy:'timestamp':true | limitTo:5">
                        <li>{{nar.name}}<span class="text-mutted pull-right">{{nar.nealtime}}</span>
                        </li>
                    </ul>
                </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="object-view" ui-view>
            <!--<div ng-show="!selected_ws">
                <span class="text-danger">No Workspace Selected</span><br>
                <small>Please select a workspace from the left.</small>
            </div>-->

            <div class="well">
                <h1>Featured Narratives</h1> 
                <h4 class="text-muted">Select a workspace from the left sidebar to start viewing objects</h4>
                <a class="btn btn-primary btn-lg btn-live-tour" href="#/ws/tour/" role="button">Take the Tour!</a>
            </div>




        </div>
    </div>
</div>


