<style type="text/css">
.btn-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    xcursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-toolbar {
    background-color: silver;
    border-radius: 4px;
}
.field-message {
    display: none;
}
.field-message.error-message {
    color: red;
    display: block;
}
.profile-info h2 {
    margin: 0;
}
</style>
<div class="panel panel-default">
    <div class="panel-heading"><span class="panel-title" data-placeholder="title"></span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" data-placeholder="alert">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" data-placeholder="picture">
            </div>
            <div class="col-md-9" data-placeholder="content">
            </div>
        </div>
    </div>
</div>
