
<style type="text/css">
.profile-editor .name-panel .form-group {
	margin: 0 10px;
}
</style>
<form class="form-horizontal profile-editor" role="form">
	<div class="row">
	  <div class="col-md-12">
	    {% if env.isOwner %}
	    	<div class="btn-toolbar" style="margin-bottom: 10px;">
	    		<div class="btn-group">
	    			<div class="btn-label">
	    				Editing Your Profile
	    			</div>
	    		</div>
	    		<div class="btn-group pull-right">
	   				<button type="button" class="btn btn-danger" data-button="cancel">Cancel</button>
	        		<button type="button" class="btn btn-success" data-button="save">Save</button>
	   			</div>
	   		</div>
	    {% endif %}    
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Basic Personal Information</h3>
	  </div>
	  <div class="panel-body">
	    <div class="form-group name-panel">
	      <div class="col-md-2">
	      	<div class="form-group">
		        <label for="field-title">Title</label>
		        <select class="form-control" id="field-title" data-field="title">
		          {% for title in env.titles %}
		          	<option value="{{title.id}}" {% if title.id==userRecord.profile.title %} selected {% endif %}>{{title.label}}</option>
		          {% endfor %}
		        </select>
		        
		    </div>
	      </div>
	      <div class="col-md-7">
	        <div class="form-group">
	           <label for="field-realname">Your Name *</label>
	           <div class="input-group-lg"><input id="field-realname" type="text" class="form-control" data-field="realname" value="{{userRecord.user.realname}}"></div>
	           <div data-message-for-field="realname" class="field-message"></div>
	        </div>
	      </div>
	      <div class="col-md-3">
	      	<div class="form-group">
		        <label for="field_suffix">Suffix</label>
		        <div class="input-group-lg"><input id="field_suffix" type="text" class="form-control" data-field="suffix" value="{{userRecord.profile.suffix}}"></div>
		        <div data-message-for-field="suffix" class="field-message"></div>
		    </div>
	      </div>
	    </div>

	    <div class="form-group">
			<label for="location-field" class="control-label col-md-3">Location</label>
			<div class="col-md-9">
				<input id="location-field" type="text" class="form-control" data-field="location" value="{{userRecord.profile.location}}">
			</div>	          
			<div data-message-for-field="location" class="field-message col-md-9 col-md-push-3"></div>
	    </div>

	    <div class="form-group">
        	<label for="email-field" class="control-label col-md-3">Primary Email</label>
        	<div class="col-md-9">
        		<input id="email-field" data-field="email" type="text" class="form-control" value="{{userRecord.profile.email}}">
        	</div>
        	<div data-message-for-field="email" class="field-message col-md-9 col-md-push-3"></div>
	    </div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title">Your Gravatar</h3></div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-3">
	        {% include "userProfile_picture.html" %}

	        	
	        </div>
	        <div class="col-md-9">
	        	<p>Your gravatar is based on an image you have associated with your email address at <a href="http://en.gravatar.com">Gravatar</a>, a free public profile service from Automattic, the same people who brought us Wordpress. If you have a gravatar associated with the email address in this profile, we will display it within KBase.</p>
	        	<p>If you don't have a personal gravator, or prefer not to use one, you may select one of the default auto-generated gravatars provided below.</p>

	         	<div class="form-group">
		           <label for="gravatar_default" class="control-label col-md-3">Default Gravatar</label>
		           <div class="col-md-9">
		           
			           	<select id="gravatar_default" data-field="gravatar_default" class="form-control">
		           		    <option value="">- none -</option>
			           	{% for default in env.gravatar_defaults %}
			           	<option value="{{default.id}}" {% if default.id==userRecord.profile.gravatar_default %} selected{% endif %}>{{default.label}}</option>
			           	{% endfor %}
			           	</select>
			           	<script>
			           	$('[data-field="gravatar_default"]').on('change', function (e) {
			           		var v = $(this).val();
			           		if (v.length > 0) {
			           			$('[data-field="avatar_color"] option').prop('selected', false);
			           			$('[data-field="avatar_initials"]').val('');
			           		}
			           	});
			           	</script>

		           </div>
		           <!--<div data-field-help="field_real_name" class="field-help col-md-12">
		           	In case you do not have a Gravatar image attached to your email address, you can request one of several styles of 
		           fallback, or default, images to be displayed instead.
		           </div>-->
	        	</div>

	        	<p>Or you may disable the gravatar service completely and use a solid color with your initials</p>

	        	<div class="form-group">
	        		<label for="avatar_color" class="control-label col-md-3">A Solid Color</label>
		           <div class="col-md-9">
		           		<select id="avatar_color" data-field="avatar_color" class="form-control">
		           		    <option value="">- none -</option>
				           	{% for color in env.avatarColors %}
				           	<option value="{{color.id}}" {% if color.id==userRecord.profile.avatar_color %} selected{% endif %}  style="background-color: {{color.color}}; color: {{color.textColor}}">{{color.label}}</option>
				           	{% endfor %}
			           	</select>
			           	<script>
			           	$('[data-field="avatar_color"]').on('change', function (e) {
			           		var v = $(this).val();
			           		if (v.length > 0) {
			           			$('[data-field="gravatar_default"] option').prop('selected', false);
			           		}
			           	});
			           	</script>
		           </div>
	        	</div>
	        	<div class="form-group">
	        		<label for="avatar-initials" class="control-label col-md-3">Your Initials</label>
		           <div class="col-md-9">
		           		<input id="avatar-initials" data-field="avatar_initials" type="text" class="form-control" value="{{userRecord.profile.avatar_initials}}">
		           </div>
	        	</div>
	        </div>
	      </div>
	    </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title">User Class</h3></div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-12">
	          <p>What is the primary use for this account?</p>
	          {% for class in env.userClasses %}
	            <div class="radio">
	              <label><input data-field="userClass" name="userClass" type="radio" value="{{class.id}}" {% if class.id==userRecord.profile.userClass %} checked{% endif %}>{{class.label}}</label>
	            </div>
	          {% endfor %}
	          
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title">Your Roles</h3></div>
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-md-12">
	        <p>How are you using this account?</p>
	          {% for role in env.roles %}
	          <div class="checkbox">
	            <label><input data-field="roles" type="checkbox" value="{{role.id}}" {% if title.id == userRecord.profile.title %} selected {% endif %}>{{role.label}}</label>
	          </div>
	          {% endfor %}
	          <script>
	           {% for role in userRecord.profile.roles %}
	          $('[data-field="roles"][value="{{role}}"]').prop('checked', true);
	          {% endfor %}
	          </script>
	        </div>
	      </div>
	    </div>
	</div>
	      
	

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Affiliations</h3>
	  </div>
	  <div id="affiliationPanel" class="panel-body">
	    <div class="row">
	      <div class="col-md-12" data-field-group="affiliations">
	        
	        {% for affiliation in userRecord.profile.affiliations|sort(true,true,"start_year") %}
	        {% include "userProfile_edit_affiliation.html" %}
	        {% endfor %}
	    
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="button-group" style="margin-bottom: 10px;">
	        	<button id="addAffiliation" type="button" class="btn btn-default" data-button="add-affiliation"><span class="glyphicon glyphicon-plus"></span> Add Affiliation</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	     
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Personal or Research Statement</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-12">
	        <textarea id="personalStatement" class="form-control" data-field="personal_statement" rows="8" style="resize:vertical;">{{userRecord.profile.personal_statement}}</textarea>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-9"></div>
	  <div class="col-md-3">
	    {% if env.isOwner %}
	        <button type="button" class="btn btn-success" data-button="save">Save</button>
	   		<button type="button" class="btn btn-danger" data-button="cancel">Cancel</button>
	    {% endif %}
	  </div>
	</div>
</form>