
<style type="text/css">
.profile-info h3 {
  font-size: 130%;
  margin: 10px 0 5px 0;
  text-decoration: underline;
}
.profile-info ul {
  padding: 0;
}
.profile-info ul li {
  margin: 0;
}
.personal-statement {
  margin: 20px 0 0 0;
  line-height: 1.5;
}
</style>
<div class="profile-info">
  <div class="row">
    <div class="col-md-9">
      <h2>{% if userRecord.profile.title %}{{userRecord.profile.title | titleLabel }} {% endif %}{{userRecord.user.realname | e}}{% if userRecord.profile.suffix %}, {{profile.suffix | e}}{% endif %}</h2>
      {% if env.isOwner and userRecord.user.realname != userRecord.account.realname %}<p class="text-warning">Note: The name on your account is <i>{{ userRecord.account.realname }}</i>.</p>{% endif %}
    </div>
    <div class="col-md-3">

      {% if env.isOwner %}
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary" data-button="edit-info">Edit Profile</button>
      </div>
      
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if userRecord.profile.location %}<i>{{userRecord.profile.location | e}}</i>{% endif %}
      {% if userRecord.profile.email %}
      <p><a href="mailto:{{profile.email | e}}">{{userRecord.profile.email | e}}</a></p>
      {% if env.isOwner and userRecord.profile.email != userRecord.account.email %}<p class="text-warning">Note: The email on your account is <i>{{ userRecord.account.email }}</i>.</p>{% endif %}
      {% endif %}
    </div>
  </div>
        
  <div class="row">
    <div class="col-md-6">
        <h3>User Class</h3>
          <ul><li>{{ userRecord.profile.userClass | userClassLabel}}</li></ul>
        <h3>Roles</h3>
        {% if profile.roles %}
          <ul>
          {% for role in userRecord.profile.roles %}
            <li>{{role | roleLabel }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No roles assigned</p>
        {% endif %}
      </div>
      <div class="col-md-6">      
        {% if userRecord.profile.affiliations %}
          <h3>Affiliations</h3>
          {% for affiliation in userRecord.profile.affiliations|sort(true, true, "start_year") %}
            <p><strong>{{affiliation.title | e}}</strong> ({{affiliation.start_year| e}}-{% if affiliation.end_year %}{{affiliation.end_year | e}}{% else %}present{% endif %}) @ {{affiliation.institution | e}}</p>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="well personal-statement">    
      {% if userRecord.profile.personal_statement %}
        {{profile.personal_statement | e | kbmarkup}}
      {% else %}
        {%if env.isOwner %}
          You don't have a personal statement. Don't you want to let the the KBase community know a little about you?
        {% else %}
          <i>This user does not have a personal statement</i>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>

</div>