<div class="panel panel-default affiliation" data-field-group="affiliation" data-generated-id={{generatedId}}>
<div class="panel-heading">
      <div class="button-group pull-right">
        <button type="button" class="btn btn-xs btn-danger" data-button="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="panel-title">
        New Affiliation
      </div>
      
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="affiliation-title-{{generatedId}}" class="control-label col-md-3">Title</label>
            <div class="col-md-9">
                <input id="affiliation-title-{{generatedId}}" type="text" class="form-control" data-field="title" value="">
            </div>
            <div data-field-message="title" class="field-message col-md-9 col-md-push-3"></div>
        </div>

        <div class="form-group">
            <label for="affiliation-institution-{{generatedId}}" class="control-label col-md-3">Institution</label>
            <div class="col-md-9">
                <input id="affiliation-institution-{{generatedId}}" type="text" class="form-control" data-field="institution" value="">
            </div>
            <div data-field-message="institution" class="field-message col-md-9 col-md-push-3"></div>
        </div>

        <div class="form-group">
            <label for="affiliation-start_year-{{generatedId}}" class="control-label col-md-3">Starting in Year</label>
            <div class="col-md-3">
                <input id="start_year-{{generatedId}}" type="text" class="form-control" data-field="start_year" value="">
            </div>
            <label for="affiliation-end_year-{{generatedId}}" class="control-label col-md-3">Ending</label>
            <div class="col-md-3">
                <input id="end_year-{{generatedId}}" type="text" class="form-control" data-field="end_year value="">
            </div>
        </div>

        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-danger" data-button="remove">Remove</button>
        </div>
    </div>
</div>
