<div class="panel panel-default affiliation" data-field-group="affiliation">
    <div class="panel-heading">
      <div class="button-group pull-right">
        <button type="button" class="btn btn-xs btn-danger" data-button="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="panel-title">
        {{affiliation.title}} ({{affiliation.start_year}}-{% if affiliation.end_year %}{{affiliation.end_year | e}}{% else %}present{% endif %}) @ {{affiliation.institution}}
      </div>
      
    </div>
    <div class="panel-body" >

        <div class="form-group">
            <label for="affiliation-title-{{affid}}" class="control-label col-md-3">Title</label>
            <div class="col-md-9">
                <input id="affiliation-title-{{affid}}" type="text" class="form-control" data-field="title" value="{{affiliation.title | e}}">
            </div>
            <div data-field-message="title" class="field-message col-md-9 col-md-push-3"></div>
        </div>

        <div class="form-group">
            <label for="affiliation-institution-{{affid}}" class="control-label col-md-3">Institution</label>
            <div class="col-md-9">
                <input id="affiliation-institution-{{affid}}" type="text" class="form-control" data-field="institution" value="{{affiliation.institution | e}}">
            </div>
            <div data-field-message="institution" class="field-message col-md-9 col-md-push-3"></div>
        </div>

        <div class="form-group">
            <label for="affiliation-start_year-{{affid}}" class="control-label col-md-3">Starting in Year</label>
            <div class="col-md-3">
                <input id="affiliation-start_year-{{affid}}" type="text" class="form-control" data-field="start_year" value="{{affiliation.start_year}}">
            </div>
            <label for="affiliation-end_year-{{affid}}" class="control-label col-md-3">Ending</label>
            <div class="col-md-3">
                <input id="affiliation-end_year-{{affid}}" type="text" class="form-control" data-field="end_year" value="{{affiliation.end_year}}">
            </div>
        </div>

    </div>
</div>
