    <div class="panel panel-default">
      <div class="affiliation-input-group panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <input id="affTitle" type="text" class="form-control" value="{{aff.title}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon">Institution</span>
              <input id="affInstitution" type="text" class="form-control" value="{{aff.institution}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">Starting in Year</span>
              <input id="affStart" type="text" class="form-control" value="{{aff.start_year}}">
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3"><div class="input-group">
            <span class="input-group-addon">Ending in Year</span>
            <input id="affEnd" type="text" class="form-control" value="{{aff.end_year}}">
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>