<div class="pull-right nav-login">
    <div ng-hide="loggedIn(true)">
        <a ng-click="showLoginDialog()">Sign In</a>
    </div>
    <div class="btn-group" ng-show="loggedIn()">
        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu nav-login-menu pull-right">
            <li>
                <span>Signed in as <a href="https://gologin.kbase.us/account/UpdateProfile" target="_blank">{{ getFullUsername() }}</a></span>
            </li>
            <li>
                <span><a ng-click="logOut()">Sign out</a></span>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" modal-show="showDialog" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign in to KBase</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="alert alert-danger" ng-show="error">
                            <div class="pull-left">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                            </div>
                            {{ error }}
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Username:</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" ng-model="username" size="20" ng-keydown="keystroke=$event.keyCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Password:</label>
                            <div class="col-md-10">
                                <input class="form-control" type="password" ng-model="password" size="20" ng-keydown="keystroke=$event.keyCode">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row form-horizontal">
                    <div class="col-md-6 text-left">
                        <span>
                            <a href="https://gologin.kbase.us/ResetPassword" target="_blank">Forgot password?</a>
                            &nbsp;|&nbsp;
                            <a href="https://gologin.kbase.us/OAuth?response_type=code&step=SignUp&redirect_uri={{ $location }}" target="_blank">Sign up</a>
                        </span>
                    </div>
                    <div class="col-md-6" style="white-space: nowrap;">
                        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a class="btn btn-primary" ng-click="logIn(username, password)">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>