 .kb-row: {}
 
 .-col {
    display: inline-block;
 }
 
 .-col.-span-8 {
    width: 66.6666%;
 }
 
 .-col.-span-4 {
    width: 33.3333%;
 }
 
 .kbase-dashboard-view .table td.number,
 .kbase-dashboard-view .table th.number {
    text-align: right;
    padding-right: 2em;
 }
 
 .kbase-dashboard-view .table td.date,
 .kbase-dashboard-view .table th.date {
    text-align: right;
    padding-right: 2em;
 }
 
 .kbase-dashboard-view .kbase-widget .btn {
    xpadding: 0;
 }
 
 .kbase-dashboard-view .slider {
    xborder: 1px silver solid;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    xbackground: silver;
 }
 
 .kbase-dashboard-view .slider .slide {
    display: inline-block;
    xposition: relative;
    xfloat: left;
    xclear: none;
    margin: 4px;
    height: 150px;
    min-width: 150px;
    border: 1px #337ab7 solid;
    border-radius: 4px;
    overflow: hidden;
    padding: 4px;
    background-color: #d9edf7;
 }
 
 .kbase-dashboard-view .slide .title {
    font-weight: bold;
 }
 
 .kbase-dashboard-view .slide .sharing {}
 
 .kbase-dashboard-view .slide .count {}
 
 .kbase-dashboard-view .slide .date {}
 
 .kbase-dashboard-view .slide .savedby {}
 
 .kbase-dashboard-view .slide table {
    height: 100%;
    width: 100%;
    xborder: 1px red solid;
 }
 
 .kbase-dashboard-view .slide tr,
 .slide td {
    height: 100%;
 }
 
 .kbase-dashboard-view .slide table tr:nth-child(1) td {
    vertical-align: top;
 }
 
 .kbase-dashboard-view .slide table tr:nth-child(2) td {
    vertical-align: bottom;
    text-align: center;
 }
 
 .kbase-dashboard-view .slide .btn {
    padding: 0;
    width: 100%;
    height: 100%;
 }
 
 .kbase-dashboard-view .kbtn {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 2px;
    color: #FFF;
    width: 100%;
    height: 100%;
    text-align: center;
 }

.navbar-group {
   display: inline-block;
}
.navbar-group.navbar-form {
   margin: 0;
}