<ul id="sortable-landing">
    
  <li>
    <div class="row"></div>
        <div class="col-md-2"><div sortablemakresult></div></div>
        <div class="col-md-7"><div sortablemaktiles></div></div>
        <div class="col-md-3"><div sortablemakterms></div></div>
    </div>
  </li>
  <li>
    <div class="row"></div>
        <div class="col-md-3"><div sortablemakbicluster></div></div>
        <div class="col-md-9"><div sortableheatmap></div></div>
    </div>
  </li>
   <div class="row"></div>
        <div class="col-md-3"><div sortablelinechart></div></div>
    </div>
  </li>
  
  
  
</ul>
