<ul id="sortable-landing">
    
  <li>
    <div class="row"></div>
        <div class="col-md-4"><div sortablegenomeoverview></div></div>
        <div class="col-md-7"><div sortablegenomewikidescription></div></div>
        <div class="col-md-1"><div sortableimport></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-6"><div sortabletaxonomyinfo></div></div>
    </div>
  </li><li>
    <div class="row"></div>
        <div class="col-md-12"><div sortabletree></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortablecontigbrowser></div></div>
    </div>
  </li>
  <li>
    <div class="row"></div>
        <div class="col-md-7"><div sortableseedannotations></div></div>
        <div class="col-md-5"><div sortablerelatedpublications></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-8"><div sortablenarrativereflist></div></div>
        <div class="col-md-4"><div sortableuserreflist></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortablereferencelist></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortableobjreftable></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortableobjrefgraphview></div></div>
    </div>
  </li>
  
 
  
  
  
  
</ul>