<ul id="sortable-landing">
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablegenomeoverview></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablerelatedpublications></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablegenomecommunity></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablegenometaxonomy></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablegenomeassemannot></div></div>
        </div>
    </li>
</ul>
