<ul id="sortable-landing">
    
  <li>
    <div class="row"></div>
        <div class="col-md-3"><div sortablegeneoverview></div></div>
        <div class="col-md-7"><div sortablegenecontigbrowser></div></div>
        <div class="col-md-2"><div sortableimport></div></div>
    </div>
  </li>
  <li>
    <div class="row"></div>
        <div class="col-md-3"><div sortablebiochemistry></div></div>
        <div class="col-md-4"><div sortablepdbstructure></div></div>
        <div class="col-md-5"><div sortablesequence></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortableexprlineplot></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-8"><div sortablenarrativereflist></div></div>
        <div class="col-md-4"><div sortableuserreflist></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortablereferencelist></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortableobjreftable></div></div>
    </div>
  </li>
   <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortableobjrefgraphview></div></div>
    </div>
  </li>
  <li>
    <div class="row"></div>
        <div class="col-md-12"><div sortablegenetree></div></div>
    </div>
  </li>
 
  
  
  
  
</ul>
