<div class="collapse" id="{{env.widgetName}}-more-info-{{env.instanceId}}"> 
	<div class="well">
		<p>This panel shows Narratives that you own.</p>
	</div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="dashboard-narratives-{{env.generatedId}}">
 <thead>
     <tr>
         <th>Title</th>
         <th>Ver.</th>
         <th>Public?</th>
         <th>Shared With</th>
         <th># objects</th>
         <th>Last Saved</th>
     </tr>
 </thead>
  
  Narrative count: {{ state.narratives | length }}<br>

{% if state.narratives | length > 0 %}

{% for narrative in state.narratives %}
	<tr>
		
		<td>
		    <a target="_blank" href="/narrativemanager/start?objid={{narrative.object.obj_id}}">{{narrative.workspace.metadata.narrative_nice_name}}</a>
		</td>
		<td>
            {{narrative.object.version}}
		</td>
		<td>
            {% if narrative.workspace.globalread == 'r' %}<span class="fa fa-check"></span> 
            {% elif narrative.workspace.globalread == 'w' %}<span class="fa fa-check"></span> 
            {% else %}
            {% endif %}
		</td>
		<td>
           {{ narrative.permissions | length }} users
           {% if narrative.permissions|length > 0 %}
           <select>
              {% for perm in narrative.permissions %} 
              <option value="{{perm.username}}">{{perm.username}} ({{perm.permission}})</option>
              {% endfor %}
           </select>
           {% endif %}
		</td>
		<td>
            {{narrative.workspace.object_count}}
		</td>
		<td>
		     {{narrative.workspace.moddate | dateFormat }}
        </td>
	</tr>
	
{% endfor %}

{% else %}

No Narratives

{% endif %}

</table>


<script>
require(['jquery'], function ($) {
	$('#dashboard-narratives-{{env.generatedId}}').DataTable({
        initComplete: function (settings) {
            var api = this.api();
            var rowCount = api.data().length;
            var pageSize = api.page.len();
            var wrapper = api.settings()[0].nTableWrapper;
            if (rowCount <= pageSize) {
                $(wrapper).find('.dataTables_paginate').closest('.row').hide();
                $(wrapper).find('.dataTables_filter').closest('.row').hide();
            }
        }
    });
});
</script>