<div class="slider">
  {% if state.narratives == 0 %}
      <div class="-card">
          
          <a role="button" class="btn btn-primary btn-kbase" href="/functional-site/#/narrativemanager/new" 
             style="height: 100%; width: 100%; padding-top: 30px;" target="_blank">
           
            <br><span class="fa fa-plus-circle" style="font-size: 300%; " ></span><br><br>
              New Narrative
         </a>
          
      </div>
      
   
    
     <div class="-card">
          <table><tr><td  style="max-width: 200px;margin: 0; padding: 0;">
             <p>You do not currently own any<br>Narratives.</p>
             <p>It is easy to get started.</p>
             <p> <span class="fa fa-arrow-left"></span> Just click the big button to the left.</p>
         </td></tr></table>
         
      </div>
     
   {% else %}
      
      {% for narrative in state.narrativesFiltered %}
      <div class="-card">
         <div class="-title">
            <a target="_blank" href="/narrative/{{narrative.object.obj_id}}">{{narrative.workspace.metadata.narrative_nice_name}}</a>
         </div>
         <div class="-body">
            <div class="apps">
                {% if narrative.object.metadata.cellInfo.app|isEmpty and narrative.object.metadata.cellInfo.method|isEmpty %}
                  <div style="text-align: center; font-style: italic;">no apps or methods</div>
               {% endif %}
                {% for app, i in narrative.object.metadata.cellInfo.app %}
               <div class="app">
                   <span style="font-size: 80%;">      
                   <span class="fa-stack">
                    <span class="fa fa-square fa-stack-2x" style="color: rgb(0, 150, 136);"></span> 
                    <span class="fa fa-inverse fa-stack-1x fa-cubes" style=""></span> 
                    </span>
                  </span>
                {{app|appName}}
                </div>
                 {% endfor %}
            </div>

            <div class="methods">
               {% if narrative.object.metadata.cellInfo.method %}
                {% for method, i in narrative.object.metadata.cellInfo.method|dictsort %}
               <div class="method">
                   <span style="font-size: 80%;">      
                   <span class="fa-stack">
                    <span class="fa fa-square fa-stack-2x" style="color: rgb(103, 58, 183);"></span> 
                    <span class="fa fa-inverse fa-stack-1x fa-cube" style=""></span> 
                    </span>
                  </span>
                {{method|methodName}}
                </div>
                 {% endfor %}
               {% endif %}
            </div>
         </div>
         <div class="-saved">
            <div class="date" style="font-style: italic;">
                    saved {{narrative.object.save_date | jsDatestring | dateFormat }} by {% if narrative.object.saved_by == env.loggedInUser %}you{% else %}<a href="#/people/{{narrative.object.saved_by}}">{{narrative.object.saved_by}}</a>{% endif %}
            </div>
         </div>
         <div class="-footer">
            <div style="display:inline-block; width: 33%;text-align: center;">
               {% if narrative.workspace.user_permission == 'r' %}
                  <span class="fa fa-minus dimmed"  style="opacity: 0.4;" data-toggle="tooltip" data-placement="auto" title="Sharing information not available for this Narrative" data-container="body"></span> {% else %} {% if narrative.permissions|length > 0 %} {{ narrative.permissions | length }} {% else %} 0 {% endif %} <span class="fa fa-share-alt"  data-toggle="tooltip" data-placement="auto" title="The number of other users with whom this Narrative has been shared" data-container="body"></span> {% endif %} {% if narrative.workspace.globalread == 'r' or narrative.workspace.globalread == 'w' %} P{% endif %}
            </div><div style="display:inline-block; width: 33%;text-align: center;">
               {% set runningJobs = narrative.object.metadata.jobInfo.running %}
               {% set errorJobs = narrative.object.metadata.jobInfo.error %}
               {% if (runningJobs == 0 or runningJobs|isBlank) and (runningJobs|isBlank or runningJobs == 0) %}
                  <span class="fa fa-minus dimmed" style="opacity: 0.4;" data-toggle="tooltip" data-placement="auto" title="There are no jobs currently running for this Narrative" data-container="body"></span> 
               {% endif %}
               {% if runningJobs > 0 %}
                  {{runningJobs}} <span class="fa fa-gear fa-spin" style="color:green;"  data-toggle="tooltip" data-placement="auto" title="These are the jobs currently running for this Narrative" data-container="body"></span>
               {% endif %}
               {% if errorJobs > 0 %}
                  {{errorJobs}} <span class="fa fa-exclamation-circle fa-spin" style="color:red;" data-toggle="tooltip" data-placement="auto" title="These are jobs which encountered an error while running" data-container="body"></span>
               {% endif %}
            </div><div style="display:inline-block; width: 33%;text-align: center;">
               {% if narrative.object.metadata.jobInfo.run_time %}
		       {{narrative.object.metadata.jobInfo.run_time | niceRuntime}} <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="auto" title="This is the total wall clock run time for jobs in this Narrative" data-container="body"></span>
              {% else %}
                <span class="fa fa-minus dimmed" style="opacity: 0.4;" data-toggle="tooltip" data-placement="auto" title="This narrative has accumulated no job run time" data-container="body"></span> 
               {% endif %} 
            </div>
         </div>
      </div>
      {% endfor %}
   {% endif %}
</div>