<style>
    .landing-page ul {
        list-style: none;
    }
</style>

<div class="container landing-page">
    <h3>Examples</h3>
    Below are some links to example tabbed table widgets.  These are used in testing functionality.  Please update as you see fit.

    <h4>Media</h4>
    <ul>
        <li>
            <a ui-sref="landing({type: 'KBaseBiochem.Media', ws: 'chenrydemo', name: 'QuantOptMedia-Acetoin'})">
                QuantOptMedia-Acetoin
            </a>
        </li>
        <li>
            <a ui-sref="landing({type: 'KBaseBiochem.Media', ws: 'chenrydemo', name: 'mediaexample'})">
                mediaexample
            </a>
        </li>
        <li>
            <a ui-sref="landing({type: 'KBaseBiochem.Media', ws: 'KBaseMedia', name: 'PlantHeterotrophicMedia'})">
                PlantHeterotrophicMedia
            </a>
        </li>
    </ul>


    <h4>Models</h4>
    <ul>
        <li>
            <a ui-sref="landing({type: 'KBaseFBA.FBAModel', ws: 'nconrad:testObjects', name: 'iBsu1103'})">
                iBsu1103
            </a>
        </li>
        <li>
            <a ui-sref="landing({type: 'KBaseFBA.FBAModel', ws: 'PublishedFBAModels', name: 'iJO1366'})">
                iJO1366
            </a>
        </li>


    </ul>


    <h4>FBA</h4>
    <ul>
        <li>
            <a ui-sref="landing({type: 'KBaseBiochem.Media', ws: 'KBaseMedia', name: 'PlantHeterotrophicMedia'})">
                PlantHeterotrophicMedia
            </a>
        </li>
    </ul>


    <h4>Phenotype Set</h4>
    <ul>
        <li>
            <a ui-sref="landing({type: 'KBasePhenotypes.PhenotypeSet', ws: 'chenrydemo', name: 'testpheno'})">
                testpheno
            </a>
        </li>
    </ul>



    <h4>Phenotype Simulation Set</h4>
    <ul>
        <li>
            <a ui-sref="landing({type: 'KBasePhenotypes.PhenotypeSimulationSet', ws: 'dejongh:COBRA2014', name: 'Rsp-biolog.simulation'})">
                Rsp-biolog.simulation
            </a>
        </li>

    </ul>


</div>
