<div class="collapse" id="more-info-{{env.instanceId}}"> 
	<div class="well">
	{% if env.isOwner %}
		<p>This panel shows narratives that you have created.</p>
	{% else %}
		<p>This panel shows narratives created by this user which you have some access to. They are either public or have been shared with you.</p>
		<p>To see all of <i>your</i> narratives, visit <a href="/functional-site/#/people/{{env.loggedInUser}}">your profile</a>.</p>
	{% endif %}
	</div>
</div>

<table class="table table-bordered table-striped" id="dashboard-shared-narratives-widgets-{{env.generatedId}}">
 <thead>
     <tr>
         <th>Title</th>
         <th>Ver.</th>
         <th>Owner</th>
         <th>You Can</th>
         <th>Also Shared With</th>
         <th># objects</th>
         <th>Last Saved</th> 
     </tr>
 </thead>
  
  Narrative count: {{ state.narratives | length }}<br>

{% if state.narratives | length > 0 %}

{% for narrative in state.narratives %}
	<tr>
		
		<td>
		    <a target="_blank" href="/narrative/{{narrative.obj_id}}">{{narrative.workspace.metadata.narrative_nice_name}}</a>
		</td>
		<td>
            {{narrative.object.version}}
		</td>
		<td>
            {{narrative.workspace.owner}}
        </td>
        <td>
            {% if narrative.workspace.user_permission == 'r'%}View
            {% elif narrative.workspace.user_permission == 'w' %}Edit
            {% elif narrative.workspace.user_permission == 'a' %}Edit and Share
            {% endif %}
        </td>
		<td>
		    x
		</td>
		<td>
            {{narrative.workspace.object_count}}
		</td>
		<td>
		     {{narrative.workspace.moddate | dateFormat }}
        </td>
	</tr>
	
{% endfor %}

{% else %}

No Narratives

{% endif %}

</table>
<script>
require(['jquery'], function ($) {
	var table = $('#dashboard-shared-narratives-widgets-{{env.generatedId}}');
    table.DataTable({
        initComplete: function (settings) {
            var api = this.api();
            var rowCount = api.data().length;
            var pageSize = api.page.len();
            var wrapper = api.settings()[0].nTableWrapper;
            if (rowCount <= pageSize) {
                $(wrapper).find('.dataTables_paginate').closest('.row').hide();
                $(wrapper).find('.dataTables_filter').closest('.row').hide();
            }
        }
    });
});
</script>