<div class="collapse" id="more-info-{{env.instanceId}}"> 
	<div class="well">
		<p>This panel shows Narratives that have been shared with you.</p>
	</div>
</div>

<table class="table table-bordered table-striped" id="dashboard-shared-narratives-widgets-{{env.instanceId}}">
 <thead>
     <tr>
         <th>Title</th>
         <th>Ver.</th>
         <th>Owner</th>
         <th>You Can</th>
         <th>Also Shared With</th>
         <th># objects</th>
         <th>Last Saved</th> 
     </tr>
 </thead>
  
  Narrative count: {{ state.narratives | length }}<br>

{% if state.narratives | length > 0 %}

{% for narrative in state.narratives %}
	<tr>
		
		<td>
		    <a target="_blank" href="/narrative/{{narrative.object.obj_id}}">{{narrative.workspace.metadata.narrative_nice_name}}</a>
		</td>
		<td class="number">
            {{narrative.object.version}}
		</td>
		<td>
            {{narrative.workspace.owner}}
        </td>
        <td>
            {% if narrative.workspace.user_permission == 'r'%}View
            {% elif narrative.workspace.user_permission == 'w' %}Edit
            {% elif narrative.workspace.user_permission == 'a' %}Edit and Share
            {% endif %}
        </td>
		<td>
           {{narrative.permissions|length}} users 
           {% if narrative.permissions|length > 0 %}
           <select>
              {% for perm in narrative.permissions %} 
              <option value="{{perm.username}}">{{perm.username}} ({{perm.permission}})</option>
              {% endfor %}
           </select>
           {% endif %}
		</td>
		<td class="number">
            {{narrative.workspace.object_count}}
		</td>
		<td class="date">
		     {{narrative.workspace.moddate | dateFormat }}
        </td>
	</tr>
	
{% endfor %}

{% else %}

No Narratives

{% endif %}

</table>
<script>
require(['jquery'], function ($) {
	var table = $('#dashboard-shared-narratives-widgets-{{env.instanceId}}');
    table.DataTable({
        initComplete: function (settings) {
            var api = this.api();
            var rowCount = api.data().length;
            var pageSize = api.page.len();
            var wrapper = api.settings()[0].nTableWrapper;
            if (rowCount <= pageSize) {
                $(wrapper).find('.dataTables_paginate').closest('.row').hide();
                $(wrapper).find('.dataTables_filter').closest('.row').hide();
            }
        }
    });
});
</script>