<div class="slider">
  
    
      
   {% if state.narratives == 0 %}
    
     <div class="-card">
          <p>No narratives have been <br>
             shared with you</p>
         
      </div>
     
   {% else %}
      
      {% for narrative in state.narrativesFiltered %}
      <div class="-card">
         <div class="-title">
            <a target="_blank" href="/narrative/{{narrative.object.obj_id}}">{{narrative.workspace.metadata.narrative_nice_name}}</a>
         </div>
         <div class="-body">
            <div class="apps">
               {% if narrative.object.metadata.cellInfo.app|isEmpty and narrative.object.metadata.cellInfo.method|isEmpty %}
                  <div style="text-align: center; font-style: italic;">no apps or methods</div>
               {% endif %}
                {% for app, i in narrative.object.metadata.cellInfo.app %}
               <div class="app">
                   <span style="font-size: 80%;">      
                   <span class="fa-stack">
                    <span class="fa fa-square fa-stack-2x" style="color: rgb(0, 150, 136);"></span> 
                    <span class="fa fa-inverse fa-stack-1x fa-cubes" style=""></span> 
                    </span>
                  </span>
                {{app|appName}}
                </div>
                 {% endfor %}
            </div>

            <div class="methods">
                {% for method, i in narrative.object.metadata.cellInfo.method %}
               <div class="method">
                   <span style="font-size: 80%;">      
                   <span class="fa-stack">
                    <span class="fa fa-square fa-stack-2x" style="color: rgb(103, 58, 183);"></span> 
                    <span class="fa fa-inverse fa-stack-1x fa-cube" style=""></span> 
                    </span>
                  </span>
                {{method|methodName}}
                </div>
                 {% endfor %}
            </div>
         </div>
         <div class="-saved">
            <div class="date" style="font-style: italic;">
                    saved {{narrative.object.save_date | jsDatestring | dateFormat }} by {% if narrative.object.saved_by == env.loggedInUser %}you{% else %}<a href="#/people/{{narrative.object.saved_by}}">{{narrative.object.saved_by}}</a>{% endif %}
            </div>
         </div>
         <div class="-footer">
            <div style="display:inline-block; width: 33%;text-align: center;">
               {% if narrative.workspace.user_permission == 'r' %}
                  <span class="fa fa-minus dimmed"  style="opacity: 0.4;" data-toggle="tooltip" data-placement="auto" title="Sharing information not available for this Narrative" data-container="body"></span> {% else %} {% if narrative.permissions|length > 0 %} {{ narrative.permissions | length }} {% else %} 0 {% endif %} <span class="fa fa-share-alt"></span> {% endif %} {% if narrative.workspace.globalread == 'r' or narrative.workspace.globalread == 'w' %} P{% endif %}
            </div><div style="display:inline-block; width: 33%;text-align: center;">
               {% set jobcount = narrative.object.metadata.jobInfo.running %}
               {% if jobcount > 0 %}
                  {{jobcount}} <span class="fa fa-gear fa-spin" style="color:green;"></span>
               {% else %}
                 <span class="fa fa-minus dimmed" style="opacity: 0.4;"></span>                  
               {% endif %}
               {% set jobcount = narrative.object.metadata.jobInfo.error %}
               {% if jobcount > 0 %}
                  {{jobcount}} <span class="fa fa-exclamation-circle fa-spin" style="color:red;"></span>
               {% endif %}
            </div><div style="display:inline-block; width: 33%;text-align: center;">
               {% if narrative.object.metadata.jobInfo.run_time %}
		       {{narrative.object.metadata.jobInfo.run_time | niceRuntime}} <span class="fa fa-clock-o"></span>
              {% else %}
                <span class="fa fa-minus dimmed" style="opacity: 0.4;"></span> 
               {% endif %} 
            </div>
         </div>
      </div>
      {% endfor %}
   {% endif %}
</div>