<div class="collapse" id="{{env.widgetName}}-more-info-{{env.instanceId}}">
   <div class="well">
      <p>This panel shows KBase Apps.</p>
   </div>
</div>
<table class="table" id="dashboard-apps-widget-{{env.generatedId}}">
   <thead>
      <tr>
         <th rowspan="2" valign="bottom">Name</th>
         <th colspan="3" style="text-align: center;">In Narratives You Have Access To</th>
         <!--<th>Last Updated</th>
         
         <th>Current Version</th>
         -->
      </tr>
      <tr>
         
         <th class="number">Yours</th>
         <th class="number">Shared</th>
         <th class="number">Public</th>
         <!--<th>Last Updated</th>
         
         <th>Current Version</th>
         -->
      </tr>
   </thead>
   <tfoot>

   </tfoot>
   <tbody>
      {% for app in state.appList %}
      <tr>
         <td><a href="/functional-site/#/narrativemanager/new?app={{app.id}}" target="_blank">{{ app.name }}</a>
         </td>
         <td class="number">{{app.narrativeCount.owned.count}}</td>
         <td class="number">{{app.narrativeCount.shared.count}}</td>
         <td class="number">{{app.narrativeCount.public.count}}</td>
         <!--<td>x</td>
         
         <td>{{ app.ver }}</td>
         -->
      </tr>
      {% endfor %}
   </tbody>
</table>
<script>
   require(['jquery'], function ($) {
      return;
      $('#dashboard-apps-widget-{{env.generatedId}}').DataTable({
         initComplete: function (settings) {
            var api = this.api();
            var rowCount = api.data().length;
            var pageSize = api.page.len();
            var wrapper = api.settings()[0].nTableWrapper;
            if (rowCount <= pageSize) {
               $(wrapper).find('.dataTables_paginate').closest('.row').hide();
               $(wrapper).find('.dataTables_filter').closest('.row').hide();
            }
         }
      });
   });
</script>